<div class="row" style="margin-top: 5%;" data-ng-show="userFlag">
    <div data-ng-show="!docFlag">
        <div class="pagination">
             <button data-ng-click="getUsers(0,pageSize)">First</button>
             <button data-ng-hide="page==0"   data-ng-click="getUsers(page-1,pageSize)">Prev</button>
             <button data-ng-click="getUsers(page+1,pageSize)" data-ng-hide="lastPageFlag" >Next</button>
             <button data-ng-click="getUsers(lastPageNum-1,pageSize)">Last</button>
              
          </div>
          <div class="pull-right">
<!--              <button data-ng-click="createUser(sampleUser)">New User</button>
 -->             <button data-ng-click="logout()">Log out</button>
          </div>   
          <table class="table " >
                <thead>
                    <tr>
                        <td> Id</td> 
                        <td> Email</td>
                        <td>name</td>
                        <td>Phone</td>
                        <td>Created</td>
                        <td>updated</td>
                        <td>Last login</td>
                        <td>Role</td>
                        <td>Confirmed</td>
                        <td>Admin</td>
                        <td>Docs</td>
                        <td>Edit</td>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="user in users">
                        <td data-ng-bind="user.id">    </td>
                        <td data-ng-bind="user.email"> </td>
                        <td data-ng-bind="user.name"> </td>
                        <td data-ng-bind="user.phone"> </td>
                        <td>{{ user.created | date:'EEEE MM dd yyyy hh:mm a' }} </td>
                        <td> {{ user.updated | date:'EEEE MM dd yyyy hh:mm a' }}  </td>
                        <td> {{ user.lastLogin | date:'EEEE MM dd yyyy hh:mm a' }}</td>
                        <td data-ng-bind="user.role"> </td>
                        <td data-ng-bind="user.confirmed"> </td>
                        <td data-ng-bind="user.admin"> </td>
                        <td><!-- <button data-ng-click="getDocs(user.id)">Docs</button> -->
                             <a href="{{ '/#/admin/docs/'+user.id }}" >Docs </a>
                        </td>
                        <td><button data-ng-click="createUser(user)">Edit</button></td>
                    </tr>
                </tbody>
          </table>
        
    </div>   
</div>
<div class="jumbotron text-center col-md-6 col-md-offset-3 widget-container" data-ng-show="!userFlag"  style="margin-top: 5%;">
          <button data-ng-click="getUsers(page,pageSize)">Back</button>
          <form class="login form-horizontal">     
               <div class="form-group">
                   <span data-ng-bind="message" style="color: tomato;"></span>
                                  </div>
                <div class="form-group">
                    <input type="hidden" name="id" id="id" data-ng-model="sampleUser.id" placeholder="id">
                </p>
               <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" data-ng-model="sampleUser.name" placeholder="Name">
                </p>
                <div class="form-group">
                    <label for="login">Email</label>
                    <input type="email" name="login" id="login" data-ng-model="sampleUser.email" placeholder="Email">
                </p>
                 <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="text" name="phone" id="phone" data-ng-model="sampleUser.phone" placeholder="Phone" >
                </p>
            
                <div class="form-group">
                    <label for="role">Role</label>
                    <input type="role" name="role" id="role" data-ng-model="sampleUser.role" placeholder="Role" >
                </p>
              <!--  <div class="form-group">
                    <label for="role">Password</label>
                    <input type="password" name="password" id="passwrod" data-ng-model="sampleUser.password" placeholder="Password" >
                </p> -->
                <p class="login-submit">
                    <button type="submit" class="login-button" data-ng-click="updateUser(sampleUser)">Submit</button>
                </p>
     </form>
 </div>         

 







